@import '../App';

@mixin bigScreenPadding() {
	padding: 30px 55px;
}

@mixin mediumScreenPadding() {
	padding: 30px;
}

@mixin smallScreenPadding() {
	padding: 30px 26px;
}

.invoice-form {
	display: flex;
	justify-content: flex-start !important;
	flex-direction: column;
	.MuiDialog-container {
		display: flex;
		justify-content: flex-start !important;
		min-width: 100vw;
		height: 100vh !important;

		.MuiPaper-root {
			margin: 0;
			position: fixed;
			left: 70px;
			width: 48rem;
			min-height: 100%;
			box-shadow: none;
		}
	}

	.invoice-form-title {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		@include bigScreenPadding();

		span {
			font-size: calc(min(7vw, 30px));
			font-weight: 600;
			letter-spacing: 0.45px;
			line-height: 23px;
			margin: 10px 0;
		}
	}

	//form container styles
	.invoice-form-children {
		padding: 0 55px;
		height: 100%;
		overflow: auto;
	}

	.invoice-form-buttons {
		width: 100%;
		@include bigScreenPadding();

		display: flex;
		justify-content: space-between;

		button {
			text-transform: none;
			border-radius: 25px;
			padding: 1rem 1.5rem;
			text-align: center;
			font-weight: 700;
			line-height: 0.95rem;
			letter-spacing: 0.2px;

			&:nth-of-type(1) {
				margin-right: 1rem;
			}

			&:nth-of-type(2) {
				margin-left: auto;
				margin-right: 1rem;
			}
		}

		.start.light:hover {
			background: rgb(223, 227, 250) !important;
		}

		.start.dark:hover {
			background: #fff !important;
		}

		.mid.light:hover {
			background: rgb(12, 14, 22) !important;
		}

		.mid.dark:hover {
			background: rgb(30, 33, 57) !important;
		}

		.end:hover {
			background: rgb(146, 119, 255) !important;
		}
	}

	.exp-form {
		position: relative;
		height: 100vh;
		.titlepart {
			position: sticky;
			top: 0px;
			z-index: 1;
		}

		.invoice-form-buttons {
			position: sticky;
			bottom: 0px;
			z-index: 1;
		}

		.totalvalue {
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}
	}
}

@media (max-width: 909px) {
	.invoice-form {
		.invoice-form-title {
			@include mediumScreenPadding();
		}

		.MuiDialog-container {
			.MuiPaper-root {
				left: 0;
				min-height: 92%;
			}
		}

		.invoice-form-buttons {
			@include mediumScreenPadding();
		}

		.invoice-form-children {
			padding: 0 30px;
		}
	}
}

@media screen and (max-width: 909px) and (min-height: 910px) {
	.invoice-form {
		.MuiDialog-container {
			.MuiPaper-root {
				left: 0;
				min-height: 95%;
			}
		}
	}
}

@media (max-width: 560px) {
	.invoice-form {
		.invoice-form-title {
			@include smallScreenPadding();
		}

		.MuiDialog-container {
			.MuiPaper-root {
				width: 100%;
				border-radius: 0;
			}
		}

		.invoice-form-buttons {
			button {
				min-width: 4.5rem;
				padding: 0.9rem 1rem !important;
				font-size: 0.9rem;
			}

			button.editMode {
				display: none;
			}
		}

		.invoice-form-children {
			padding: 0 26px;
		}
	}
}

// form-content styles

@media (min-width: 576px) {
	.item-list-wrapper {
		margin-top: -25px;
	}
}

@media (max-width: 575px) {
	.item-list-wrapper {
		margin-top: 0;
	}
}
