@import '../App';

@mixin bigScreenPadding() {
	padding: 30px 55px;
}
@mixin mediumScreenPadding() {
	padding: 30px;
}
@mixin smallScreenPadding() {
	padding: 30px 26px;
}
.invoice-form {
	display: flex;
	justify-content: flex-start !important;
	flex-direction: column;
	font-family: $spartan;
	.MuiDialog-container {
		display: flex;
		justify-content: flex-start !important;
		min-width: 100vw;
		.MuiPaper-root {
			margin: 0;
			position: fixed;
			left: 70px;
			width: 48rem;
			min-height: 100%;
			box-shadow: none;
		}
	}

	.invoice-form-title {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		@include bigScreenPadding();
		span {
			font-size: calc(min(7vw, 30px));
			font-weight: 600;
			letter-spacing: 0.45px;
			font-family: $spartan;
			line-height: 23px;
			margin: 10px 0;
			transition: color 0.2s ease-in;
		}
	}

	.invoice-form-buttons {
		width: 100%;
		position: absolute;
		bottom: 10px;
		@include bigScreenPadding();

		display: flex;
		justify-content: space-between;
		button {
			text-transform: none;
			border-radius: 25px;
			// padding: calc(min(3vw, 15px)) calc(min(4vw, 30px));
			padding: 1rem 1.5rem;
			text-align: center;
			font-weight: 700;
			line-height: 0.95rem;
			letter-spacing: 0.2px;
			// font-size: calc(min(4.5vw, 1rem));
			// font-size: 0.75rem;
			&:nth-of-type(1) {
				margin-right: 1rem;
			}

			&:nth-of-type(2) {
				margin-left: auto;
				margin-right: 1rem;
			}
		}

		.start.light:hover {
			background: rgb(223, 227, 250) !important;
		}
		.start.dark:hover {
			background: #fff !important;
			// color: black !important;
		}

		.mid.light:hover {
			background: rgb(12, 14, 22) !important;
		}
		.mid.dark:hover {
			background: rgb(30, 33, 57) !important;
		}
		.end:hover {
			background: rgb(146, 119, 255) !important;
		}
	}
}

@media (max-width: 909px) {
	.invoice-form {
		.invoice-form-title {
			@include mediumScreenPadding();
		}
		.MuiDialog-container {
			.MuiPaper-root {
				left: 0;
				min-height: 92%;
			}
		}
		.invoice-form-buttons {
			@include mediumScreenPadding();
		}
	}
}
@media screen and (max-width: 909px) and (min-height: 910px) {
	.invoice-form {
		.MuiDialog-container {
			.MuiPaper-root {
				left: 0;
				min-height: 95%;
			}
		}
	}
}
@media (max-width: 560px) {
	.invoice-form {
		.invoice-form-title {
			@include smallScreenPadding();
		}
		.MuiDialog-container {
			.MuiPaper-root {
				width: 100%;
				border-radius: 0;
			}
		}
		.invoice-form-buttons {
			button {
				min-width: 4.5rem;
				padding: 0.5rem !important;
			}
		}
	}
}
