// Navbar styles
@import '../App';

.custom-navbar {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	z-index: 1301;

	.brand-logo {
		background: $lightblue;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top-right-radius: 25%;
		border-bottom-right-radius: 25%;
		position: relative;

		.logo {
			z-index: 1;
		}

		&::after {
			content: '';
			position: absolute;
			min-height: 50%;
			min-width: 100%;
			background-color: $lightblueTransparent;
			bottom: 0;
			border-top-left-radius: 25px;
			border-bottom-right-radius: 30px;
		}
	}

	.action-buttons {
		display: flex;
		justify-content: space-between;

		.divider {
			height: 1px;
			opacity: 0.4;
			background-color: $lightblue;
		}
	}
}

// large screens
@media screen and (min-width: 909px) {
	// Navbar styles for large screens

	.custom-navbar {
		height: 100vh;
		width: 100px;
		flex-direction: column;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;

		.brand-logo {
			width: 100%;
			height: 15%;
		}

		.action-buttons {
			flex-basis: 150px;
			width: 100%;
			flex-direction: column;
			align-items: center;
			padding: 25px 0;

			.divider {
				width: 100%;
			}

			.switch-theme {
				cursor: pointer;
			}
		}
	}
}

// tablet and mobile common styles

@media screen and (max-width: 909px) {
	// Navbar styles for small screens

	.custom-navbar {
		height: 70px;
		width: 100vw;
		border-radius: 0;
		flex-direction: row;

		.brand-logo {
			width: 5rem;
			height: 100%;

			.logo {
				height: calc(min(43px, 40%));
				width: calc(min(45px, 40%));
			}
		}

		.action-buttons {
			width: 200px;
			height: 100%;
			align-items: center;
			padding-left: 30px;
			padding-right: 30px;
			flex-shrink: 1;

			.switch-theme img {
				height: 25px;
				width: 25px;
			}

			.avatar-image img {
				height: 35px;
				width: 35px;
			}

			.divider {
				min-height: 100%;
				min-width: 1px;
			}
		}
	}

	.invoice-form.MuiDialog-root {
		// top: 71px !important;
		top: 4% !important;
		height: -webkit-fill-available;
	}
}

// Mobile only styles

@media screen and (max-width: 450px) {
	.custom-navbar {
		.action-buttons {
			width: 150px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

// landscape orientation for  invoice-form drawer

@media (max-width: 900px) and (max-height: 500px) {
	.invoice-form.MuiDialog-root {
		top: 35px !important;
		height: -webkit-fill-available;
	}
}


.profile {
	position: fixed;
	color: rgb(255, 251, 125);
	background: linear-gradient(45deg, rgb(133, 255, 189) 0%, rgb(255, 251, 125) 100%) text;
	backdrop-filter: blur(4px);


}