@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');
$lightblue: rgb(124, 93, 250);
$lightblueTransparent: rgb(146, 119, 255);
$bgWhite: rgb(248, 248, 251);
$spartan: 'League Spartan', sans-serif;

// invoice component variables

$pendingbg: rgba(255, 143, 0, 0.06);
$pendingcolor: rgb(255, 143, 0);

$paidbg: rgba(51, 214, 159, 0.06);
$paidcolor: rgb(51, 214, 159);

$draftbglight: rgba(55, 59, 83, 0.06);
$draftbgdark: rgba(223, 227, 250, 0.06);

$draftcolorlight: rgb(55, 59, 83);
$draftcolordark: rgb(223, 227, 250);

::-webkit-scrollbar {
	display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: $spartan !important;
}

body {
	transition: 0.2s ease-in;
}

.custom-button {
	width: auto;
	overflow: hidden;
	padding: 0.8rem 0.5rem 0.8rem 0.5rem;
	margin: 0 10px;
	border: none;
	outline: none;
	font-weight: 700;
	border-radius: 10rem;
}

.common-wrapper {
	padding-top: 6rem;
	margin: 0 auto;
	transition: background 0.4s ease 0s;
	height: 100vh;
}

.form-control,
.form-select {
	transition: background 0.2 ease-in, color 0.2s ease-in !important;
	font-weight: 600 !important;
	padding-inline: 15px !important;
	&:focus {
		box-shadow: none !important;
		outline: none;
	}
}
.form-control.dark,
.form-select.dark {
	background: rgb(30, 33, 57);
	border: 1px solid rgb(55, 66, 149);
	color: white !important;
	&:focus {
		background: rgb(30, 33, 57);
	}
}

.form-select.dark,
.form-select.light,
.form-select.dark:focus {
	background-image: url('./assets/images/icon-arrow-down.svg');
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 10px 7px;
}

.invoice-detail-wrapper {
	position: relative;
	height: 89.5vh;
}

@media screen and (min-width: 900px) {
	.common-wrapper {
		max-width: 65%;
		margin-left: 21.5%;
	}
}

@media screen and (max-width: 899px) {
	.common-wrapper {
		max-width: 100vw;
		padding: 6rem 0.8rem;
	}
}

@media screen and (max-width: 400px) {
	.form-control,
	.form-select {
		padding-inline: 9px !important;
	}
}
