@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');
$lightblue: rgb(124, 93, 250);
$lightblueTransparent: rgb(146, 119, 255);
$bgWhite: rgb(248, 248, 251);
$spartan: 'League Spartan', sans-serif;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	transition: 0.2s ease-in;
	font-family: $spartan;
}

Button {
	font-family: $spartan !important;
}
.custom-button {
	width: 8rem;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	margin: 0 10px;
	border: none;
	outline: none;
	font-weight: 700;
	border-radius: 10rem;
}

.common-wrapper {
	padding-top: 4rem;
	width: 100%;
	height: 100vh;
	transition: background 0.3s ease 0s;
}
