* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	transition: 0.2s ease-in;
}

.custom-navbar {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

// large screens
@media screen and (min-width: 900px) {
	.custom-navbar {
		height: 100vh;
		width: 120px;
		flex-direction: column;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}
}

// tablet and mobile common styles

@media screen and (max-width: 900px) {
	.custom-navbar {
		height: 120px;
		width: 100vw;
		border-radius: 0;
		flex-direction: row;
	}
}
